.container{
    padding:30px;
    display: flex;
    height: 92vh;
    min-height: 800px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

.htxt{
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 22px;
}

.drop {
    display: inline-block;
    position: relative;
}

.drop label {
    display: block;
    position: relative;
}

.drop select {
    width: 100px;
    padding: 10px;
    border: 1px solid #666666;
    border-radius: 10px;
    background-color: #040404;
    color: #adaaaa;
    font-size: 1.2em;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.drop select:hover {
    border-color: #cacaca;
}

.drop select:focus {
    outline: none;
}

.drop::after {
    content: '\25BC'; /* Down arrow */
    position: absolute;
    right: 10px;
    top: calc(50% - 5px);
    pointer-events: none;
    transition: all 0.3s ease;
    color: #F36F41;
}

.drop select:hover + ::after {
    color: #F36F41;
}

/* Optional: For better cross-browser consistency */
.drop select::-ms-expand {
    display: none;
}


.download{
    width: 10%;
    min-width: 115px;
    height: 5vh;
    min-height: 50px;
    background-color: #2A2A2A;
    border-radius: 13px;
    font-size: calc(1vh + 10px);
    font-size: min(max(10px, calc(1vh + 10px)), 16px);
    font-weight: 500;
    color: #afaeae;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.bodycontainer{
    height: 88%;
    width: 100%;
    background-color: #0D0C0E;
    border-radius: 22px;
    overflow-y: auto;
    color: rgb(204, 206, 205);
    padding:25px 30px;
    box-sizing: border-box;
    
}

.body{
    height: 98%;
    width: 100%;
    background-color: #0D0C0E;
    overflow-y: auto;
    color: rgb(204, 206, 205);
}

.body::-webkit-scrollbar {
    width: 3px;
}

.body::-webkit-scrollbar-track {
    background: #1a1919;
    border-radius: 4px;
}

.body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}


.phead{
    margin-top: 19px;
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.pdate{
    font-size: 1em;
    width: 10vw;
    color: #a5d6ff;
}

.ptext{
    font-size: 1em;
    font-weight: 700;
    margin-left: 5vw;
    color: #F36F41;
}

.pbody{
    margin: 9px 0px;
    font-size: 16px;
    color: #fdf49d;
}

.divider {
    margin-top:20px;
    width: 95%;
    height: 2px;
    background-color: rgb(41, 40, 40);
}